body {
  margin: 0;
}

.lintel-bar {
  width: 100%;
  height: 30px !important;
  background-color: blue;
  -webkit-user-select: none;
  user-select: none;
  font-family: system;
}

.lintel-bar-drag-region {
  z-index: -1;
  width: 100%;
  height: inherit;
  -webkit-app-region: drag;
  position: absolute;
  left: 0;
  top: 0;
}

.lintel-bar-control {
  -webkit-app-region: no-drag;
  height: 100%;
}

.lintel-bar-control.lintel-bar-button {
  width: 1.5rem;
  align-items: center;
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  padding-right: 0.25rem;
  margin-left: 0.25rem;
}

.lintel-bar-control.lintel-bar-button:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.lintel-bar-control.lintel-bar-button.close:hover {
  background-color: red;
}

.lintel-bar-control.position-left {
  float: left;
}

.lintel-bar-control.position-right {
  float: right;
}
