@import url("./fonts.css");

body {
  margin: 0;
  font-family: Ubuntu Condensed;
  font-weight: bold;
}

.lb {
  width: 100%;
  height: 30px !important;
  background-color: #464775;
  -webkit-user-select: none;
  user-select: none;
  line-height: 30px;
  position: fixed;
  left: 0;
  top: 0;
}

.lb-drag-region {
  z-index: -1;
  width: 100%;
  height: inherit;
  -webkit-app-region: drag;
  position: absolute;
  left: 0;
  top: 0;
}

.lb-control {
  -webkit-app-region: no-drag;
  height: 100%;
  display: flex;
}

.lb-control.dragable {
  -webkit-app-region: drag;
}

.lb-control.lb-button {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin-left: 0.5rem;
  opacity: 0.8;
}

.lb-control.lb-button.lb-tab {
  font-size: 1rem;
  margin-left: 0;
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  opacity: 1;
  cursor: pointer;
}

.lb-control.lb-button:hover {
  background-color: #333;
  opacity: 1;
}

.lb-control.lb-button.close:hover {
  background-color: red;
}

.position-left,
.position-center {
  margin-right: auto;
}

.position-right,
.position-center {
  margin-left: auto;
}

.lb-control.lb-title {
  color: #fff;
  width: 100%;
  justify-content: center;
}

.lb-container-column {
  display: flex;
}

.lb-container-column.middle {
  flex: 1;
}

.lb-control.lb-button.back,
.lb-control.lb-button.forward {
  margin-left: 0;
  font-size: 1.75rem;
  padding: 0;
  cursor: pointer;
}

.lb-control.lb-button.lb-tab i {
  font-size: 1.25rem;
  cursor: pointer;
}

.lb-control.lb-button.lb-tab i.close:hover {
  color: red;
}

.lb-control.lb-button.lb-tab i.menu:hover {
  color: blue;
}

.lb-tab-icon-container {
  background-color: inherit;
  margin-left: 0.25rem;
  height: 100%;
}

a.lb-control.active.lb-button.lb-tab {
  background-color: #333;
}

a.lb-control.disabled.lb-button.lb-tab {
  background-color: dimgray;
}
