body {
  margin: 0;
}

.lintel-bar {
  width: 100%;
  height: 30px !important;
  background-color: #333;
  -webkit-user-select: none;
  user-select: none;
  font-family: system;
  line-height: 30px;
  position: fixed;
  left: 0;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.lintel-bar-drag-region {
  z-index: -1;
  width: 100%;
  height: inherit;
  -webkit-app-region: drag;
  position: absolute;
  left: 0;
  top: 0;
}

.lintel-bar-control {
  -webkit-app-region: no-drag;
  height: 100%;
  display: flex;
}

.lintel-bar-control.dragable {
  -webkit-app-region: drag;
}

.lintel-bar-control.lintel-bar-button {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin-left: 0.5rem;
  opacity: 0.8;
}

.lintel-bar-control.lintel-bar-button:hover {
  background-color: rgb(255, 255, 255, 0.3);
  opacity: 1;
}

.lintel-bar-control.lintel-bar-button.close:hover {
  background-color: red;
}

.position-left,
.position-center {
  margin-right: auto;
}

.position-right,
.position-center {
  margin-left: auto;
}

.lintel-bar-control.lintel-bar-title {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  justify-content: center;
}

.lintel-bar-container-column {
  display: flex;
}

.lintel-bar-container-column.middle {
  flex: 1;
}
